<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">

<style>
#brand-image svg {
  margin-left: 4px;
  width: 98px;
  height: auto;
  fill: white;
}
</style>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header" id="brand-image">
      </div>
    </nav>
    <div id="app">

      <!-- toolbar for the main list -->
      <div class="container-fluid">
        <div class="row toolbar-pf">
          <div class="col-sm-12">
            <form class="toolbar-pf-actions">
              <div class="toolbar-pf-action-right">
                <div class="form-group">
                  <button v-on:click="create" class="btn btn-default" type="button">Scratch</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- the main list group -->
      <div class="container-fluid">
        <div class="list-group list-view-pf list-view-pf-view">

          <!-- iterate over the scratches -->
          <div v-for="scratch in scratches" :key="scratch.created">
            <edit-list-item v-if="scratch.edit" v-bind:scratch="scratch"></edit-list-item>
            <list-item v-else v-bind:scratch="scratch"></list-item>
          </div>
        </div>
      </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.js"></script>

<script>
Vue.component('edit-list-item', {
  props: ['scratch'],
  methods: {
    cancel: function(event) {
      this.scratch.edit = false;
    },
    destroy: function(event) {
      app.scratches = app.scratches.filter(s => s.created != this.scratch.created);
      updateStorage();
    },
    save: function(event) {
      this.scratch.text = this.$refs.input.value;
      this.scratch.edit = false;
      updateStorage();
    }
  },
  mounted: function() {
    this.$refs.input.focus();
  },
  template: ' \
<div class="list-group-item"> \
  <div class="list-view-pf-actions"> \
    <button v-on:click="destroy" type="button" class="btn btn-danger">Destroy</button> \
    <button v-on:click="cancel" type="button" class="btn btn-default">Cancel</button> \
    <button v-on:click="save" type="button" class="btn btn-primary">Save</button> \
  </div> \
  <div class="list-view-pf-main-info"> \
    <div class="list-view-pf-left"> \
      <span class="fa fa-thumb-tack list-view-pf-icon-sm"></span> \
    </div> \
    <div class="list-view-pf-body"> \
      <div class="list-view-pf-description"> \
        <div class="list-group-item-heading"> \
          <form class="form-horizontal"> \
            <div class="form-group"> \
              <div class="col-sm-12"> \
                <textarea ref="input" class="form-control">{{ scratch.text }}</textarea> \
              </div> \
            </div> \
          </form> \
        </div> \
      </div> \
    </div> \
  </div> \
</div>'
});

Vue.component('list-item', {
  props: ['scratch'],
  methods: {
    click: function(event) {
      this.scratch.edit = true;
    }
  },
  template: ' \
<div class="list-group-item"> \
  <div class="list-view-pf-actions"> \
    <button v-on:click="click" class="btn btn-primary">Edit</button> \
  </div> \
  <div class="list-view-pf-main-info"> \
    <div class="list-view-pf-left"> \
      <span class="fa fa-thumb-tack list-view-pf-icon-sm"></span> \
    </div> \
    <div class="list-view-pf-body"> \
      <div class="list-view-pf-description"> \
        <div class="list-group-item-heading">{{ scratch.text }}</div> \
      </div> \
    </div> \
  </div> \
</div>'
});

var app = new Vue({
  el: '#app',
  data: {
    scratches: []
  },
  methods: {
    create: function(event) {
      let c = new Date();
      let ns = {
        created: c.toUTCString(),
        text: '',
        edit: true
      };
      app.scratches = Array.from([ns]).concat(app.scratches);
    }
  }
});

var updateStorage = function() {
  let ls = window.localStorage;
  ls.setItem('chickenscratches', JSON.stringify(app.scratches));
};

$(function() {
  /* load the svg for the brand */
  $('#brand-image').html(brand);

  let ls = window.localStorage;
  let cs = ls.getItem('chickenscratches');
  if (cs != null) {
    app.scratches = JSON.parse(cs);
  }
});
</script>

<script>
/* brand image svg */
var brand = ' <svg \
   xmlns:dc="http://purl.org/dc/elements/1.1/" \
   xmlns:cc="http://creativecommons.org/ns#" \
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" \
   xmlns:svg="http://www.w3.org/2000/svg" \
   xmlns="http://www.w3.org/2000/svg" \
   width="81.39724mm" \
   height="7.7999158mm" \
   viewBox="0 0 81.39724 7.7999158" \
   version="1.1" \
   id="brand-svg"> \
  <g \
     id="layer1" \
     transform="translate(-18.672023,-43.642559)"> \
    <g \
       aria-label="Chicken Scratch" \
       id="text817"> \
      <path \
         d="m 21.794106,51.421309 c 1.36525,0 2.201334,-0.804334 2.7305,-1.947333 l -1.471083,-0.550334 c -0.338667,0.560917 -0.719667,0.9525 -1.259417,0.9525 -1.015999,0 -1.449916,-1.217083 -1.449916,-2.264833 0,-1.016 0.34925,-2.264833 1.449916,-2.264833 0.582084,0 0.910167,0.3175 1.280584,0.878416 l 1.439333,-0.645583 c -0.359833,-0.899583 -1.291167,-1.778 -2.719917,-1.778 -2.307166,0 -3.122083,2.12725 -3.122083,3.81 0,1.830917 0.79375,3.81 3.122083,3.81 z"/> \
      <path \
         d="m 25.654543,51.315475 h 1.534583 v -2.920999 c 0,-0.79375 0.359833,-1.132417 0.9525,-1.132417 0.624417,0 0.85725,0.359833 0.85725,1.153583 v 2.899833 h 1.534583 v -3.513666 c 0,-1.576917 -1.04775,-2.021417 -1.87325,-2.021417 -0.656166,0 -1.143,0.232834 -1.471083,0.624417 v -2.7305 l -1.534583,0.709083 z" /> \
      <path \
         d="m 32.845587,45.388809 c 0.497416,0 0.878416,-0.402167 0.878416,-0.878417 0,-0.486833 -0.381,-0.867833 -0.878416,-0.867833 -0.486834,0 -0.889,0.381 -0.889,0.867833 0,0.47625 0.402166,0.878417 0.889,0.878417 z m -0.772584,5.926666 h 1.534584 v -5.408083 h -1.534584 z" /> \
      <path \
         d="m 37.46918,51.442475 c 1.227667,0 2.021417,-0.60325 2.38125,-1.830916 l -1.471083,-0.423333 c -0.15875,0.508 -0.465667,0.783166 -0.910167,0.783166 -0.550333,0 -0.973667,-0.53975 -0.973667,-1.354666 0,-0.804334 0.423334,-1.36525 0.994834,-1.36525 0.423333,0 0.73025,0.28575 0.889,0.6985 l 1.4605,-0.47625 c -0.370417,-1.17475 -1.217084,-1.693334 -2.370667,-1.693334 -1.513417,0 -2.529417,1.090084 -2.529417,2.836334 0,1.777999 1.016,2.825749 2.529417,2.825749 z" /> \
      <path \
         d="m 46.215808,51.315475 -1.9685,-3.809999 1.651,-1.598084 h -1.820333 l -1.36525,1.354667 v -3.58775 l -1.534583,0.719667 v 6.921499 h 1.534583 v -2.349499 l 0.402167,-0.370417 1.42875,2.719916 z" /> \
      <path \
         d="m 49.231728,51.442475 c 0.931334,0 1.608667,-0.381 2.106084,-0.98425 l -0.889,-0.888999 c -0.338667,0.402166 -0.677334,0.571499 -1.217084,0.571499 -0.5715,0 -1.037166,-0.285749 -1.068916,-1.005416 h 3.46075 c 0.04233,-0.275167 0.04233,-0.592667 0.04233,-0.79375 0,-1.735667 -1.068917,-2.561167 -2.434167,-2.561167 -1.576916,0 -2.57175,1.090084 -2.57175,2.82575 0,1.778 0.973667,2.836333 2.57175,2.836333 z m -1.058333,-3.460749 c 0.07408,-0.5715 0.455083,-0.899584 0.994833,-0.899584 0.635,0 0.9525,0.328084 1.026584,0.899584 z" /> \
      <path \
         d="m 56.28403,51.315475 h 1.534583 v -3.513666 c 0,-1.576917 -1.04775,-2.021417 -1.87325,-2.021417 -0.656167,0 -1.143,0.232834 -1.471083,0.624417 v -0.497417 h -1.534584 v 5.408083 h 1.534584 v -2.836333 c 0,-0.814916 0.275166,-1.217083 0.9525,-1.217083 0.635,0 0.85725,0.381 0.85725,1.23825 z" /> \
      <path \
         d="m 64.626674,51.442475 c 1.545167,0 2.76225,-0.836083 2.76225,-2.275416 0,-1.640417 -1.449916,-2.106083 -2.57175,-2.465917 -0.687916,-0.232833 -1.259416,-0.41275 -1.259416,-0.79375 0,-0.391583 0.3175,-0.60325 0.899583,-0.60325 0.66675,0 1.016,0.338667 1.217083,0.79375 l 1.439333,-0.465666 c -0.285749,-1.04775 -1.206499,-1.852084 -2.571749,-1.852084 -1.651,0 -2.592917,0.9525 -2.592917,2.0955 0,1.545167 1.312333,1.957917 2.423583,2.31775 0.772584,0.243417 1.407584,0.4445 1.407584,0.963084 0,0.508 -0.4445,0.762 -1.11125,0.762 -0.677334,0 -1.248834,-0.486834 -1.576917,-1.185334 l -1.439333,0.53975 c 0.4445,1.354667 1.534583,2.169583 2.973916,2.169583 z" /> \
      <path \
         d="m 70.748803,51.442475 c 1.227667,0 2.021417,-0.60325 2.38125,-1.830916 L 71.65897,49.188226 c -0.15875,0.508 -0.465667,0.783166 -0.910167,0.783166 -0.550333,0 -0.973667,-0.53975 -0.973667,-1.354666 0,-0.804334 0.423334,-1.36525 0.994834,-1.36525 0.423333,0 0.73025,0.28575 0.889,0.6985 l 1.4605,-0.47625 c -0.370417,-1.17475 -1.217084,-1.693334 -2.370667,-1.693334 -1.513417,0 -2.529416,1.090084 -2.529416,2.836334 0,1.777999 1.015999,2.825749 2.529416,2.825749 z" /> \
      <path \
         d="m 74.457763,51.315475 h 1.534583 v -2.931583 c 0,-0.867833 0.4445,-1.121833 0.931333,-1.121833 0.4445,0 0.719667,0.169333 0.963084,0.370417 l 0.201083,-1.397 c -0.264583,-0.275167 -0.60325,-0.455084 -1.068917,-0.455084 -0.560916,0 -0.920749,0.402167 -1.026583,0.613834 v -0.486834 h -1.534583 z" /> \
      <path \
         d="m 82.022534,51.315475 h 1.524 v -3.418416 c 0,-1.862667 -1.291167,-2.116667 -2.296584,-2.116667 -0.9525,0 -1.756833,0.296334 -2.31775,0.677334 l 0.47625,1.17475 c 0.5715,-0.381 1.132417,-0.5715 1.735667,-0.5715 0.529167,0 0.878417,0.254 0.878417,0.762 v 0.296333 c -0.306917,-0.137583 -0.656167,-0.1905 -1.185334,-0.1905 -1.068916,0 -2.19075,0.550333 -2.19075,1.735667 0,1.185333 0.889,1.777999 2.032,1.777999 0.6985,0 1.0795,-0.243416 1.344084,-0.529166 z m -1.04775,-1.164166 c -0.529167,0 -0.8255,-0.179917 -0.8255,-0.47625 0,-0.391583 0.423333,-0.518583 0.9525,-0.518583 0.338666,0 0.635,0.04233 0.92075,0.127 v 0.486833 c -0.254,0.201083 -0.582084,0.381 -1.04775,0.381 z" /> \
      <path \
         d="m 86.650256,51.442475 c 0.47625,0 0.878417,-0.07408 1.227667,-0.243416 l 0.169333,-1.291167 c -0.328083,0.148167 -0.635,0.211667 -0.931333,0.211667 -0.148167,0 -0.306917,-0.09525 -0.306917,-0.306917 v -2.561166 h 1.17475 v -1.344084 h -1.17475 v -2.233083 l -1.524,0.73025 v 1.502833 h -0.740833 v 1.344084 h 0.740833 v 2.709333 c 0,0.9525 0.402167,1.481666 1.36525,1.481666 z" /> \
      <path \
         d="m 91.481385,51.442475 c 1.227667,0 2.021417,-0.60325 2.38125,-1.830916 l -1.471083,-0.423333 c -0.15875,0.508 -0.465667,0.783166 -0.910167,0.783166 -0.550333,0 -0.973666,-0.53975 -0.973666,-1.354666 0,-0.804334 0.423333,-1.36525 0.994833,-1.36525 0.423333,0 0.73025,0.28575 0.889,0.6985 l 1.4605,-0.47625 c -0.370417,-1.17475 -1.217083,-1.693334 -2.370667,-1.693334 -1.513416,0 -2.529416,1.090084 -2.529416,2.836334 0,1.777999 1.016,2.825749 2.529416,2.825749 z" /> \
      <path \
         d="m 95.190345,51.315475 h 1.534583 v -2.920999 c 0,-0.79375 0.359834,-1.132417 0.9525,-1.132417 0.624417,0 0.85725,0.359833 0.85725,1.153583 v 2.899833 h 1.534582 v -3.513666 c 0,-1.576917 -1.047748,-2.021417 -1.873248,-2.021417 -0.656167,0 -1.143,0.232834 -1.471084,0.624417 v -2.7305 l -1.534583,0.709083 z" /> \
    </g> \
  </g> \
</svg>';
</script>

  </body>
</html>


